:host {
  display: block;
  max-width: 1200px;
  margin: auto !important;
  // min-width: 650px;
}

.calculation-results {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.input-area {
  padding: 1em;
  flex: 1 1;
}
