<h3>What do you want to calculate? Pace, distance or time?</h3>
<p></p>

<div>
  <mat-radio-group
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
    [(ngModel)]="choice"
  >
    <mat-radio-button [value]="choices.Distance">
      <mat-card [class.highlight]="choice === choices.Distance">
        <mat-card-title>Distance</mat-card-title>
        <mat-card-subtitle
          >I know my desired pace and time limit.</mat-card-subtitle
        >
      </mat-card>
    </mat-radio-button>
    <mat-radio-button [value]="choices.Pace">
      <mat-card [class.highlight]="choice === choices.Pace">
        <mat-card-title>Pace</mat-card-title>
        <mat-card-subtitle>
          I know my distance and desired time</mat-card-subtitle
        >
      </mat-card>
    </mat-radio-button>
    <mat-radio-button [value]="choices.Time">
      <mat-card [class.highlight]="choice === choices.Time">
        <mat-card-title>Time</mat-card-title>
        <mat-card-subtitle
          >I know my distance and desired pace.</mat-card-subtitle
        >
      </mat-card>
    </mat-radio-button>
  </mat-radio-group>

  <div fxLayout="row" fxLayoutAlign="end center" class="mt-3">
    <button
      [routerLink]="['calculate', choice]"
      [disabled]="!choice"
      mat-raised-button
    >
      Next
    </button>
  </div>
</div>
